*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-width: 1366px;
  height: 653px;
}
.father {
  width: 50%;
  background: red;
  height: 50%;
  display: flex;
}

.son {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid blue;
  font-size: 2rem;
}
